

.wrapper {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .35);
}