/* -- color config -- */
$border-color       : #D9D9D9;
$border-hover-color : #B9B9B9;
$border-focus-color : #03A9F4;
$arrow-color        : #B9B9B9;
$arrow-hover-color  : #A0A0A0;
$clear-color        : #B9B9B9;
$clear-hover-color  : #FF7D7D;

/* -- relect container -- */
.relect {
    display: inline-block;
    position: relative;
    text-align: left;
    user-select: none;
    &:hover {
        .relect-box {
            border-color: $border-hover-color;
        }
        .relect-option {
            border-top-color: $border-hover-color;
        }
    }
    &:focus {
        outline: none;
        .relect-box {
            border-color: $border-focus-color;
        }
        .relect-option {
            border-top-color: $border-focus-color;
        }
    }
}

/* -- box -- */
.relect-box {
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid $border-color;
    transition: border-color .1s;
}
.relect-placeholder {
    color: #999;
}
.relect-value {
    color: #333;
}

/* -- option -- */
.relect-option {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    list-style: none;
    background: #fff;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid $border-color;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    li {
        cursor: pointer;
        padding: 0 10px;
    }
}
.relect-focused-option {
    color: #fff;
    background: #03A9F4;
}

/* -- arrow -- */
.relect-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    z-index: 1;
    font-size: 0;
    overflow: hidden;
    margin-top: -3px;
    border: solid 6px;
    border-color: $arrow-color transparent transparent;
    &:hover {
        border-color: $arrow-hover-color transparent transparent;
    }
}

/* -- clear -- */
.relect-clear {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 35px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    &:before,
    &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        border-radius: 100%;
        background: $clear-color;
        transition: background .2s;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:hover {
        &:before,
        &:after {
            background: $clear-hover-color;
        }
    }
}